
body{
    margin: 200px;
    padding: 0;
    text-align: center;
    background-color: black;
}

h1.normal{
    margin: 0;
    padding: 0;
    border-style: solid;
    color: #E6E4E3;
    background-color: #0F9919;
}

h1.lleno{
    margin: 0;
    padding: 0;
    border-style: solid;
    color: #E6E4E3;
    background-color: #EE0707;
}

button{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border-style: solid;
    background-color: gray;
    border-radius: 15px;
    font-size: 24px;

}
